---
layout: page
permalink: /projects/example/
category: project_example
---
<div class="container">
{% for post in site.categories.project_example %}
{% if post.foreign_url == null %}
<div class="card post post-link" href="{{ post.url }}">
{% else %}
<div class="card post post-link" href="{{ post.foreign_url }}" foreign=true>
{% endif %}
    <div class="card-block">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" width=250 src="../../assets/img/{{ post.image }}">
            </div>
            <div class="col-9">
                <h4 class="header">{{ post.title }}</h4>
                <hr/>
                <article class="text main">
                    {{ post.excerpt }}
                </article>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="timestamp">
            Publication Date: {{ post.date | date_to_long_string }}
        </div>
    </div>
</div>
{% endfor %}
</div>
