---
layout: page
---
<div class="container post">
    <h3 class="header centered">{{ page.title }}</h3>
    <hr />
    <div class="tags right">
        <span>tags:</span>&nbsp;{{ page.tags | join: ', ' }}
    </div>
    <article class="text main">
    {{ content }}
    </article>
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        // this.page.url = "{{ site.baseurl }}{{ page.url }}";
        // this.page.url = "http://BLOG.host.com{{ page.url }}"
        this.page.identifier = "{{ page.identifier }}";
        this.page.title = "{{ page.title }}";
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//robf26.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>
